/* font style */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* hero section start */
.hero-container {
  /* border: 2px solid tomato; */
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Raleway", serif;
  background-color: rgba(246, 78, 115, 0.1);
}
.hero-content {
  /* border: 2px solid black; */
  /* padding: 50px; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}
.hero-description {
  /* border: 3px solid rgb(39, 39, 39); */
  width: 50%;
  /* margin-right: 90px; */
}
.hero-description h1 {
  color: rgb(39, 39, 39);
  /* font-family: Lato; */
  font-size: 3rem;
  font-weight: 700;
}
.hero-description p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0px;
}
.hero-img {
  /* border: 3px solid rgb(30, 255, 0); */
  width: 50%;
}
.btn {
  background-color: rgb(229, 84, 115);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
/* second section start hear */
.second-container {
  /* border: 2px solid red; */
  max-width: 90%;

  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
}
.second-title {
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.second-title h4 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 2.5rem;
  font-weight: 800;
}
.second-title p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.seccond-img {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}
.img-1 {
  /* border: 2px solid black; */
  width: 100%;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(167, 33, 98, 0.15);
  margin-top: 20px;
}
.img-1 img {
  width: 75%;
  height: 100%;
  /* border: 2px dotted; */
}

.img-two {
  background-color: rgba(17, 165, 172, 0.15);
}
.img-third {
  background-color: rgba(71, 125, 17, 0.15);
}

/* third page start */
.third-container {
  /* border: 2px solid red; */
  max-width: 90%;
  height: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 84, 115, 0.1);
  border-radius: 8px;
  margin-bottom: 50px;
}
.third-content {
  /* border:2px solid black ; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}
.third-content-description {
  /* border: 2px dotted; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.third-content-description p {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
}

/* four page start */
.four-container {
  /* border: 2px solid red; */
  max-width: 100%;
  /* height: 50vh; */
  background-color: rgba(229, 84, 115, 0.05);
}
.four-content {
  /* border: 2px solid rgb(69, 237, 23); */

  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 100px; */
}
.four-title {
  width: 50%;
  /* border: 2px dotted; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.four-title h4 {
  font-size: 2.2rem;
  font-weight: 800;
}
.four-title p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 0 30px 0;
}
.four-img {
  /* border: 2px dotted; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* five page */
.five-container {
  /* border: 2px dotted; */
  max-width: 100%;
  margin-top: 100px;
}

.five-title {
  /* border: 2px solid red; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.five-title h4 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
}
.five-title p {
  color: rgba(39, 39, 39, 0.6);

  font-size: 1rem;
  font-weight: 400;
}

.five-img {
  width: 90%;
  margin: 0 auto;
  /* border: 2px double green; */
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image img {
  /* border: 3px solid steelblue; */
  width: 90%;
  height: 100%;
}

/* six page */
.six-container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(../img/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.six-content {
  /* border: 2px dotted; */
  margin: 0 auto;
  width: 50%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.six-content h4 {
  color: rgb(39, 39, 39);

  font-size: 2rem;
  font-weight: 800;
}
.six-content p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 0 30px 0;
}
.search-bar input {
  width: 400px;
  height: 3px;
  padding: 20px;
  border-radius: 5px;
  border: none;
}

/* footer section */

.footer-container {
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;
  display: flex;
  background-color: rgb(17, 16, 16);
  align-items: center;
  justify-content: center;
}
.footer-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-flower {
  color: rgb(229, 84, 115);
}
.footer-content h2 {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.footer-content h6 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  font-weight: 200;
  margin: 10px 0 10px 0;
}
.footer-content p {
  color: rgba(255, 255, 255, 0.4);
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
}

/* for mobile */
@media screen and (max-width: 576px) {
  body {
    margin: 0 10px;
  }
  .hero-content,
  .seccond-img,
  .third-content,
  .four-content {
    flex-direction: column;
  }
  .third-content {
    gap: 20px;
  }
  .third-content-description {
    flex-direction: row;
    gap: 20px;
  }

  .hero-description,
  .second-title,
  .four-title,
  .third-container,
  .four-img,
  .five-title,
  /* .five-img, */
  .six-content {
    width: 100%;
  }
  .search-bar input {
    width: auto;
  }
  .third-container,
  .four-content {
    max-width: 100%;
  }
  .hero-img {
    width: 100%;
  }
  .img-1 {
    width: 100%;
  }
  .image img {
    width: 100%;
    
  }
  
  .five-img {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    gap: 50px;
  }
}
